.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: rgb(26, 6, 6);
}
body{
    background-size: cover;
}
button{
    font-size: 25px;
    width: 120px;
    margin: 20px;
}
canvas{
    border:5px solid white;
border-radius: 20px;
box-shadow: 5px 5px 5px blue
}

#imptTag{
font-size: 100px;
color: orange;
}